{% extends "bootstrap/base.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='admin_style.css')}}">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

{% endblock %}




{% block content %}

        <input type="checkbox" name="" id="sidebar-toggle">
        <div class = "sidebar">
            <div class = "sidebar-brand">
                <div class="brand-flex">
                    <img src="{{url_for('.static', filename='img/logo-en.png')}}" alt="" width="153px" height="50px">
                    <div class="brand-icons">
                        <div class="menu-toggle">
                                <label for="sidebar-toggle">
                                        <span class = "las la-bars"></span>
                                </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-bar-main">
               <div class="sidebar-user">
                <img src="{{url_for('.static', filename='img/user.png')}}" alt="" title="">
                <div>
                    <h3>{{ name }}</h3>
                    <span>{{ email }}</span>
                </div>
               </div>
                <div class="sidebar-menu">
                    <div class="menu-head">
                        <span>Dashboard</span>
                    </div>
                    <ul>
                        <li>
                            <a href="{{ url_for('addAdvisor') }}">
                                <span class="las la-chart-pie2"></span>
                                &nbsp&nbsp add a New Advisor
                            </a>
                        </li>
                    </ul>
                    <div class="menu-head">
                        <span>Applications</span>
                    </div>
                    <ul>
                        <li>
                            <a href="https://outlook.office365.com/owa/?realm=upm.edu.sa">
                                <span class="las "></span>
                                ✉️ UPM Mailbox
                            </a>
                        </li>
                        <li>
                            <a href="https://www.upm.edu.sa/en">
                                <span class="las la-UPM website"></span>
                                🖥 UPM website
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="main-content">
        <header>
                <div class="menu-toggle">
                    <label for="sidebar-toggle">
                        <span class="las la-bars"></span>
                    </label>
                </div>
            <a href="/logout" style="color:white">Logout</a>
        </header>

        <main>
            <div class="page-header">
                <div>
                    <h1>FC332 Administrator Dashboard</h1>
                    <small> Analytics Admin Monitor </small>
                </div>
            </div>

            <div class="cards">
                <div class="cards-single">
                    <div class="card-flex">
                        <div class="card-info">
                            <div class="card-head">
                                <span>Students</span>
                                <small>Number of Students Registered</small>
                            </div>
                            <h2>{{ studentNum }}</h2>
                        </div>
                        <div class="card-chart success">
                            <span class="las la-users"></span>
                        </div>
                    </div>
                </div>

                <div class="cards-single">
                    <div class="card-flex">
                        <div class="card-info">
                            <div class="card-head">
                                <span>Advisors</span>
                                <small>Number of Advisors Registered</small>
                            </div>
                            <h2>{{ advisorNum }}</h2>
                        </div>
                        <div class="card-chart blue">
                            <span class="las la-home"></span>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <label for="sidebar-toggle" class="body-lable"></label>
{% endblock %}
